@width:80px;
//======按钮===============//
.btn{
	display: inline-block;
	text-align: center;
	border: 0 none;
	line-height: 100%;
	cursor: pointer;
	&.r{
		.r()
	}
	&.ui-center{
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
	&.s-btn {
		font-size: @btn-font-size;
		.pd(6px,10px);
		min-width: @width;
	}
	&.m-btn {
		font-size: @btn-font-size *1.2;
		.pd(10px,15px);
		min-width: @width * 1.2;
		
	}
	&.b-btn{
		font-size: @btn-font-size *1.4;
		.pd(13px,20px);
		min-width: @width * 1.4;
	}
	&.disabled{
		background-color: #c3c3c3;
		color: #fff;
		&:hover{
			background-color: #c3c3c3;
			color: #fff;
		}
	}
}


.ui-menu{
	height: @header-height;
	li{
		position: relative;
		z-index: 5;
		height: @header-height;
		cursor: pointer;
		float: left;
		padding: 0 30px;
		line-height: @header-height;
		
		ul{
			position: absolute;
			display: none;
			top:@header-height; left: 0;
			width: 100%;
			li{
				padding: 0;
				width: 100%;
				float: none;
				text-align: center;
				clear: both;
				height: 30px;
				margin-top: 0;
				border-bottom: none;
				a{
					display: block;
					height: 100%;
					width: 100%;
					line-height: 30px;
					&:hover{
						
					}
				}
			}
		}
		&:hover{
			ul{
				display: block;
			}
		}
	}

}