@width:80px;
//======按钮===============//
.btn{
	display: inline-block;
	text-align: center;
	&.r{
		.r()
	}
	&.s-btn {
		font-size: @fontsize;
		.pd(6px,10px);
		min-width: @width;
	}
	&.m-btn {
		font-size: @fontsize *1.2;
		.pd(10px,15px);
		min-width: @width * 1.2;

	}
	&.b-btn{
		font-size: @fontsize *1.4;
		.pd(13px,20px);
		min-width: @width * 1.4;
	}
}
