@blue: #5ec0e3; //什么颜色
@yellow: #ccc; //什么颜色
@red: #ccc; //什么颜色
@r: 5px; //按钮圆角半径

@bdcolor: #999;

.bg-blue{
  background-color: @blue;
}

.bg-red{
  background-color: @red;
}

.bg-yellow{
  background-color: @yellow;
}