
//************ 字体部分 *****************//

@font:'STHeiti','Microsoft YaHei','宋体','arial';
// 字体颜色
@common-color:#565d6e;
@link-hover-color:#42a1db;

@bg-tit-color:#565d6e;
@font-tit-color:#fff;

@base-padding:10px;
//字号
@title-size: 16px;
@common-size: 14px;
@btn-font-size:14px;


//********** 尺寸部分 ***************//
@main-width: 1000px;

@title-height:40px;
@title-s-height:30px;

@header-height:60px;

@footer-height:120px;


@bdcolor: #9c9c9c;


//上下左右的间距
@distance:15px;
@pagedistance:20px;

 

 