*.sublime-project
*.sublime-workspace
.DS_Store
/.idea
/edit
/dist
/spm_modules
node_modules
/base.js
/docs
/test
/spm_modules/
/src      
/build                                                                                                                         
